# Examples with nbgrep

Those examples required the `./PythonDataScienceHandbook/notebooks/` folder from https://github.com/jakevdp/PythonDataScienceHandbook

In [1]:
# import nbgrep
from nbgrep import Nb

In [2]:
# grep "Python" within markdown in a file
nb = Nb("./PythonDataScienceHandbook/notebooks/00.00-Preface.ipynb", cell_type="markdown")
results = nb.grep("Python")
results.head()

,path_,cellno_,lineno_,metadata,source
0,./PythonDataScienceHandbook/notebooks/00.00-Pr...,0,3,{},*This notebook contains an excerpt from the [P...
1,./PythonDataScienceHandbook/notebooks/00.00-Pr...,1,1,{},| [Contents](Index.ipynb) | [IPython: Beyond N...
1,./PythonDataScienceHandbook/notebooks/00.00-Pr...,1,3,{},"<a href=""https://colab.research.google.com/git..."
3,./PythonDataScienceHandbook/notebooks/00.00-Pr...,3,2,{},This is a book about doing data science with P...
6,./PythonDataScienceHandbook/notebooks/00.00-Pr...,6,2,{},In my teaching both at the University of Washi...

In [3]:
# grep "Python" within markdown in all files
nb = Nb("./PythonDataScienceHandbook/**/*.ipynb", cell_type="markdown", recursive=True)
results = nb.grep("Python")
results.shape

(613, 6)

In [4]:
# grep uncased "python" within markdown in all files
results = nb.grep("python", case=False)
results.shape

(694, 6)

In [5]:
# grep lines of code with import statement
nb = Nb("./PythonDataScienceHandbook/**/*.ipynb", recursive=True)
results = nb.grep("^(?:import|from)")
results.head()

,path_,cellno_,lineno_,metadata,source,execution_count
0,./PythonDataScienceHandbook/notebooks/03.03-Op...,0,0,{'collapsed': True},import pandas as pd,1.0
0,./PythonDataScienceHandbook/notebooks/03.03-Op...,0,1,{'collapsed': True},import numpy as np,1.0
20,./PythonDataScienceHandbook/notebooks/02.06-Bo...,20,0,{'collapsed': False},import numpy as np,1.0
20,./PythonDataScienceHandbook/notebooks/02.06-Bo...,20,1,{'collapsed': False},import pandas as pd,1.0
21,./PythonDataScienceHandbook/notebooks/02.06-Bo...,21,1,{'collapsed': False},import matplotlib.pyplot as plt,2.0

In [6]:
# extract imported modules and functions in lines of code
results = nb.grep("^from (?P<module>.*) import (?P<function>.*)", extract=True).dropna()
results.head()

,path_,cellno_,lineno_,module,function
61,./PythonDataScienceHandbook/notebooks/05.14-Im...,61,0,skimage,"data, color, feature"
62,./PythonDataScienceHandbook/notebooks/05.14-Im...,62,0,sklearn.datasets,fetch_lfw_people
63,./PythonDataScienceHandbook/notebooks/05.14-Im...,63,0,skimage,"data, transform"
64,./PythonDataScienceHandbook/notebooks/05.14-Im...,64,0,sklearn.feature_extraction.image,PatchExtractor
66,./PythonDataScienceHandbook/notebooks/05.14-Im...,66,0,itertools,chain

In [7]:
# extract imported modules and functions in lines of code, using expand=False option from pandas.str.extract()
result = nb.grep("^from (?P<module>.*) import (?P<function>.*)", extract=True, expand=False).dropna()
result.head()

                              module              function
61                           skimage  data, color, feature
62                  sklearn.datasets      fetch_lfw_people
63                           skimage       data, transform
64  sklearn.feature_extraction.image        PatchExtractor
66                         itertools                 chain